HAProxy/loadbalancer Public ip:  {{ haproxyvmip }}

Webserver 1 of 2 Public ip:      {{ webservervmip }}
Webserver 2 of 2 Public ip:      {{ webservervmip2 }}

Tasks Application is available at:

     http://{{ haproxyvmip }}
